:root {
    --color-primary: #ebd98f;
    --color-secondary: #8e7b5c;
    --color-accent: #7e655d;
    --color-success: #292e3a;
    --color-danger: #A48C84;
    --color-white: #FFFFFF;
}

.primaryBg {
    background-color: var(--color-primary);
}

.secondaryBg {
    background-color: var(--color-secondary);
}

.accentBg {
    background-color: var(--color-accent);
}

.successBg {
    background-color: var(--color-success);
}

.dangerBg {
    background-color: var(--color-danger);
}



.primaryText {
    color: var(--color-primary);
}

.secondaryText {
    color: var(--color-secondary);
}

.accentText {
    color: var(--color-accent);
}

.successText {
    color: var(--color-success);
}

.dangerText {
    color: var(--color-danger);
}

.whiteText {
    color: var(--color-white);
}

.bodyIndex {
    
    background: linear-gradient(90deg,color-mix(in srgb, var(--color-danger) 60%, #000000 40%), color-mix(in srgb, var(--color-danger) 80%, #ffffff 20%));
}

.btn:hover{
    background-color: var(--color-primary);
}


.instagram-icon{
    display: flex;
    flex-direction:row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.instagram-icon svg{
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: var(--color-primary);
  
}

.instagram-icon:hover svg{
    color:var(--color-success)
}

.blurBg{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

}

.blurMoreBg{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);

}

.aHover:hover {
    color: var(--color-success);
}